<!-- Nav Start-->
<header class="ecommerce">
  <div class="container">
      <div class="row">
          <div class="col">
              <nav>
                  <a class="logo-erapper"><img alt="" class="img-fluid" src="assets/images/logo/logo-sm.png"></a>
                 <!-- <app-menu></app-menu> -->
                 
                  <div class="top-header-right">
                      <ul>
                           <li class="search">
                              <a aria-expanded="false" data-toggle="dropdown" href="#" id="dropdownMenuButton">
                                  <!-- <i class="icon-search"></i> -->
                                  <h4>Home</h4>
                              </a>
                            
                          </li>
                           <li class="search">
                              <a (click)="logout()" aria-expanded="false" data-toggle="dropdown" id="dropdownMenuButton">
                                  <!-- <i class="icon-search"></i> -->
                                  <h4>Logout</h4>
                              </a>
                            
                          </li>
<!--                          
                          <li class="account ">
                              <a aria-expanded="false" data-toggle="dropdown" id="dropdownMenuButton2">
                                 <i class="fa fa-bars" aria-hidden="true"></i>
                              </a>
                              <div aria-labelledby="dropdownMenuButton2" class="dropdown-menu show dropdown-menu-right">
                                  <a class="dropdown-item" (click)="logout()">logout</a>
                                  <a class="dropdown-item" href="#">Home</a>
                                 
                              </div>
                          </li> -->
                          
                          
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- Nav end-->